* {

}

label {
  color: #938284;
}

.input-forms {
  background-color: #3E2A35;
}

.gallery {
  background-color: #C2B2B4;
  height: 800px;
  width: 1200px;
}

.photo-image {
  height: 400px;
  width:  200px;
}